@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  min-height: 100vh;
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    .navigation {
        display: flex;
    align-items: center;
    justify-content: space-between;
    height: 51px;
    padding: 0 100px;
    background-color: #fff;
    .menu{
        display: none;
    }
    }
       

.hamb {
    display: none;
  }

.unorder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    list-style: none;

}

.view-plans {
    min-width: 120px;
    z-index: 3;
    text-transform: uppercase;
    height: auto;
    background-color: hsl(0, 0%, 98%);
    border: 2px solid #000;
}

.header {
    color: hsl(0, 0%, 98%);
    width: 100%;
    height: auto;
    padding:60px;
    display: flex;
    flex-direction: row ;
    background-color: hsl(256, 26%, 20%);
    

.content{
    width: 50%;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.picture{
    width: 50%;
    height: auto;
    .image1{
        max-width: 100%;
    }
}}

a {
    font-size: 14px;
    text-decoration: none;
    color: hsl(273, 4%, 51%);
}

.heading {
    font-size: 45px;
    margin: 40px 0;
}

.about {
    width: 95%;
    font-size: 32px;
    margin: 0 0 30px 0;
    text-align: justify;
}

.view-plans2 {
    width: 125px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    z-index: 6;

    color: hsl(0, 0%, 98%);
    border: 2px solid hsl(0, 0%, 98%);
    background-color: transparent;
}
main{
    padding-top: 100px;
}
.left-patt {
    visibility: visible;
    position: absolute;
    transform: translateY(375px);
    z-index: 3 !important;
    top: 0;
    left: 0;
}

.right-patt {
    visibility: visible;
    position: absolute;
    /* z-index: 2; */
    top: 10%;
    right: 0;
}


/* ----  header ends  ---- */


/* ----  header ends  ---- */


.main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.heading2 {
    margin: 0 10%;
    font-size: 45px;
    color: hsl(270, 9%, 17%);
}

.three-contents {
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.content>span,img {
    display: block;
    margin: 10px 0;
    font-size: 20px;
}

.contents {
    width: 30%
}

.content-para {
    letter-spacing: 1px;
}

.find-out {
    background-image: url(mid-pattern.svg);
    background-position-x: right;
    font-size: 10px;
    background-repeat: no-repeat;
    width: 100%;
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    height: 210px;
}

.mid-patt {
    visibility: visible;
    position: absolute;
    top: 0;
    right: 0;
}

.find {
    font-size: 50px;
    width: 70%;
}

.we-work {
    color: hsl(0, 0%, 98%);
    background-color: transparent;
    width: 20%;
    height: 30px;
    border: 2px solid hsl(0, 0%, 98%);
    cursor: pointer;
}

.hr2 {
    visibility: visible;
    margin: 10%;
    color: hsl(273, 4%, 51%);
}


/* ------ F O O T E R -------- */


/* ------ F O O T E R -------- */


.footer {
    background-color: hsl(0, 0%, 96%);
   
    
}

.footer-container{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    justify-content: space-between;

    
}
.footer-patt {
    float:left;  
    z-index: 0;
    position: absolute;
    background-repeat: no-repeat;
}



.iconns {
    display: inline-block;
    cursor: pointer;
    opacity: .6;
}

.div-iconns {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.footer-hr {
    margin: 20px auto;
    width: 100%;
}

.footer-cont {
    display: flex;
    flex-direction: column;
}

.footer-anchor {
    color: #000;
    margin: 5px 0;
    z-index: 5;
}

.foot-span {
    color: hsl(273, 4%, 51%);
    margin: 0 0 10px 0;
}
.wrap{
    padding: 100px;
}
.last {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    width: 90%;
    z-index: 5;
   
    justify-content: space-between;
}
.footer-img{
    z-index: 2;
}


/* ------ hovers ------- */


/* ------ hovers ------- */


/* ------ hovers ------- */


/* ------ hovers ------- */

.div-iconns>.iconns:hover {
    opacity: 1;
}

.we-work:hover,
.view-plans2:hover {
    background-color: hsl(0, 0%, 98%);
    color: #000;
    transition: .4s;
}

.view-plans:hover {
    background-color: hsl(256, 26%, 20%);
    color: hsl(0, 0%, 98%);
    transition: .4s;
}

a:hover {
    color: #000;
    font-weight: bold;
    transition: .4s;
}

.footer-anchor:hover {
    text-decoration: underline;
}


@media all and (max-width:600px) {
    .navigation {
        width: 100%;
        height: auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 10px 20px;
        position: relative;
        .menu{
            /* display: block; */
            width:300px;
            position: absolute;
            height: auto;
            /* transition: 2s; */
            background-color: rgba(52, 37, 57, 0.934);
            color: #fff;
            right: 0;
            font-size: 20px;
            top: 75px;
            padding: 40px;
            .h2{
                margin-bottom: 70px;
            }
            .menu-opt{
                text-decoration: none;
                list-style-type: none;
                font-weight: bold;
                .txt{
                    font-size: 25px;
                    
                    color: #fff;
                }
                .items{
                    border-left: #fff solid 2px;
                    padding-left: 25px;
                    margin: 30px 0;
                    z-index: 7;

                }
            }
        }
         }
      .hamb {
        display: block;
        /* float: right; */
    }
    .unorder,.view-plans  {
        display: none;
        
    }
   
   
    .header{
        padding: 0 0 40px 0  ;
        flex-direction: column-reverse;
        align-items: center;
        .hr1{
            display: none;
        }
        .right-patt,.left-patt{
            display: none;
            z-index: 0;
        }
    
        .picture{
            width: 100%;
        }
        .content{
            width: 90%;
        }
    }
    .main{
        padding: 0 40px;
    }
    .three-contents{
        flex-direction: column;
        justify-content: center;
        .contents{
            width: 100%;
            margin: 20px 0;
            font-size: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .svgs{
                width: 40%;
                height: auto;
            }
            .content-span{
                font-size: 35px;
                font-weight: bold;
            }
            .content-para{
                font-size: 25px;
                letter-spacing: 1px;
                text-align: justify;
            }
            .svgs,.content-para,.content-span{
                margin: 20px 0;
            }

        }
       
    }
    .contents:nth-child(2){
        border-top: 5px solid rgb(121, 121, 121);
        border-bottom: 5px solid rgb(121, 121, 121) ;
    }
    .find-out{
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        .find{
            font-size: 40px;
    text-align: center;
        }
    }
    .we-work{
    width: 60%;
    height: 50px;
        margin: 10px;
    }
    .wrap{
        padding: 0;
        .footer-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .footer-img{
                display: block;
            }
            .div-iconns{
                width: 100%;
                justify-content: center;
                .iconns{
                    margin: 20px;
                }
            }
        }
    }
    .last{
width: 100%;
padding: 10px 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 2;
    .footer-anchor{
            font-size: 25px;

    }

.foot-span{
    font-size: 35px;
    margin: 10px 0 0 0;
    color: hsl(273, 4%, 51%)
} 
.footer-anchor{
    font-size: 20px;
}   }
.footer-patt{
    display: none;
}
    
}
/* Account Page css starts here
Account Page css starts here */
/* Account Page css starts here */


.acc-main{
    width: 100%;
    min-height: 100vh;
}
.account-cont{
/* display: grid;
place-items: center; */
display: block;
margin:  auto;
  width: 35%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.account-cont .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.account-cont .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: hsl(256, 26%, 20%);
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: hsl(256, 26%, 20%);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: hsl(256, 26%, 20%);
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: hsl(256, 26%, 20%);
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
/* 
Blog css goes here
Blog css goes here
Blog css goes here */
.blg{
    width: 90%;
    display: block;
    margin: 0 auto;
    
}
.blg>.icons>p{
    width: 60%;
<<<<<<< HEAD
    font-size: 25px   ;
=======
    font-size: 30px;
>>>>>>> 39f4ec9f97480596634c5514091cd9b3b1657642
text-align: justify;}
.blg>.icons>.blg-img{
    width: 275px;
    height: 275px;
    display: block;
}
.blg>.icons:nth-child(even){
    display: flex;
    flex-direction: row;
    margin: 50px 0;
    color: #fff;
    background-color: hsla(256, 25%, 20%, 0.776);
    
}
.blg>.icons:nth-child(odd){
    display: flex;
    background-color: hsla(256, 25%, 20%, 0.158);
    
    flex-direction: row-reverse;
    /* background-color: aqua; */

}

.blg>.icons{
    justify-content: space-around;
    padding: 5%;
    align-items: center;
}

/* Plan page goes here
Plan page goes here
Plan page goes here */
.plan-res{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.columns {
    /* float: left; */
    width: 30%;
    padding: 8px;
    margin: 20px 10;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .plan-header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .plan-but {
    background-color: hsla(256, 25%, 20%, 0.849);
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        color: #fff;
    }
  }
  
@media screen and (max-width:1000px) {
    .account-cont{
        width:60%;
        height: 60%;
    }
}
@media screen and (max-width:900px) {
    .blg>.icons:nth-child(even),.blg>.icons:nth-child(odd){
        flex-direction: column;
    }
    .blg>.icons>p{
       width: 95%;
    }
    .blg>.icons>.blg-img{
        width: 500px;
        height: 500px;
    }

    .account-cont{
        width:60%;
        height: 60%;
    }
    
}
@media screen and (max-width:700px) {
    .blg>.icons:nth-child(even),.blg>.icons:nth-child(odd){
        flex-direction: column;
    }
    .blg>.icons>p{
       width: 95%;
    }
    .blg>.icons>.blg-img{
        width: 450px;
        height: 450px;
    }

    .account-cont{
        width:60%;
        height: 70%;
    }
    
}
@media screen and (max-width:600px) {
    .blg>.icons:nth-child(even),.blg>.icons:nth-child(odd){
        flex-direction: column;
    }
    .blg>.icons>p{
       width: 95%;
       font-size: 25px;

    }
    .blg>.icons>.blg-img{
        width: 400px;
        height: 400px;
    }

    .plan-res{
        flex-direction: column;

    }
    .plan-res>.columns{
        width: 90%;
    }
    .account-cont{
        width:80%;
        height: 80%;
    }
    
}
@media screen and (max-width:400px) {
<<<<<<< HEAD
    .blg>.icons:nth-child(even),.blg>.icons:nth-child(odd){
        flex-direction: column;
    }
    .blg>.icons>p{
       width: 95%;
       font-size: 20px;
    }
    .blg>.icons>.blg-img{
        width: 250px;
        height: 250px;
    }

=======
  .blg>.icons>p{
    font-size:20px:}
>>>>>>> 39f4ec9f97480596634c5514091cd9b3b1657642
.plan-res{
    flex-direction: column;
}
   
.plan-res>.columns{
    width: 90%;
}.account-cont{
        width:90%;
        height: 90%;
    }
    
    }




